.box-product-detail{
    width: 100%;
    height: 730px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 252, 228);
}
.box-content{
    width: 1200px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.box-product{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-info{
    width: 40%;
    height: 100%;
    border: 1px solid black;
}
.product{
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: center;
}
.similar-product{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.image{
    width: 75%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.image img{
    width: 90%;
    height: 100%;
}
.p1{
    width: 14%;
    height: 100%;
    /* border: 1px solid black; */
}
.p1 img{
    width: 100%;
    height: 100%;
}






.product-advert{
    width: 100%;
    height: 1150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-product-advert{
    width: 1200px;
    height: 85%;
    /* border: 1px solid black; */
}
.box-title-hot{
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products{
    width: 100%;
    height: 330px;
    /* border: 1px solid black; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.title-similar-product{
    width: 100%;
    height: 28px;
    border: 1px solid black;
    margin-top: 50px;

}
.title-make-product{
    width: 100%;
    height: 28px;
    border: 1px solid black;
    margin-top: 150px;
}
.steps{
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.product-details{
    width: 23%;
    height: 100%;
    border: 1px solid black;
}
.image-details{
    width: 100%;
    height: 80%;
    border: 1px solid black;
}
.content-details{
    width: 100%;
    height: 20%;
    border: 1px solid black;
}
.step{
    width: 23%;
    height: 100%;
    border: 1px solid black;
}
.box-infor{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}
.infor{
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.title-infor{
    width: 100%;
    height: 40px;
    border: 1px solid black;
}
.content-infor{
    width: 100%;
    height: 360px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.infor1{
    width: 23%;
    height: 100%;
    border: 1px solid black;
}